h1, h3{
  padding: 15px 50px;
}

body{
  padding: 0px 50px;
}
form{
  padding: 20px 50px;
}
footer{
  text-align: center; 
  padding: 3px; 
  background-color: rgb(221 225 229); 
  border-radius: 20px;
  box-shadow: 7px 5px 8px 4px black;
  position: fixed;
  bottom: 0;
  width: 1570px;
}
p{
  padding: 0px 50px;
  line-height: 1.8rem;
  word-wrap: break-word;
}

.inline{
  display: inline;
}

.bg-grey{
  background-color: #f0f0f0;
}

.custom-nav{
  background-color: rgb(221 225 229);
  border-radius: 20px;
  box-shadow: 7px 5px 8px 4px black;
  margin-bottom: 2rem;
}

.subheading{
  font-size: 2rem;
  font-weight: 600;
}